<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact me here</title>
    {% extends "base.html" %}
{% block content %}
<div class="text-center mb-4">
  <h2>Contact Me</h2>
  <p class="lead">I'd love to hear from you! Feel free to reach out using the details below.</p>
</div>

<div class="row">
  <div class="col-md-6 mb-3">
    <div class="p-3 bg-light text-dark rounded">
      <h4>Email</h4>
      <p><a href="mailto:yourname@example.com">seshavenimedapampula37@gmail.com</a></p>

      <h4>Phone</h4>
      <p>+91-9900885511</p>
    </div>
  </div>
  <div class="col-md-6 mb-3">
    <div class="p-3 bg-light text-dark rounded">
      <h4>Social</h4>
        <p><a href="https://github.com/seshaveni-229" target="_blank" class="social-link">https://github.com/seshaveni-229</a></p>
        <p><a href="https://www.linkedin.com/in/seshaveni-medapampula/" target="_blank" class="social-link">https://www.linkedin.com/in/seshaveni-medapampula/</a></p>
      <h4>Address</h4>
      <p>Tanuku, Andhra Pradesh, India</p>
    </div>
  </div>
</div>
{% endblock %}

</head>
<body>
    
</body>
</html>